* {
    font-family: 'Montserrat';
}

/*NAVBAR*/
header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 1) 60%, rgba(1, 107, 94, 0.75) 60%), url('../img/genesis-building.jpg') !important;
    background-position: center;
    background-size: cover;
}


.sos-med {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 5px;
}

.sos-med i {
    margin-left: 15px;
    font-size: 25px;
    color: white !important;
}

nav li a {
    font-weight: 600;
    color: white !important;
}

.right-nav {
    text-align: right;
}

/*END OF NAVBAR*/
/*====================================================================================*/

/*TEXT CAROUSEL*/
.text-carousel {
    margin-top: 50px;
}

.carousel-item {
    height: 200px;
    /*background: #a0a0a0;*/
}

.carousel-control-next i {
    font-size: 30px;
    color: #298888;
}

.carousel-control-prev i {
    font-size: 30px;
    color: #016b5e;
}

.carousel-caption h3,
p {
    text-align: left;
    margin: 20px 0;
    color: #288481;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.carousel-caption p {
    font-weight: 200;
}

/*END OF TEXT CAROUSEL*/
/*====================================================================================*/

/*ABOUT*/
.about-title {
    display: inline-block;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 95%, rgba(1, 107, 94, 1) 95%);
    width: 300px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-title h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.about-image {
    width: 27rem;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

.about-image img {
    border-radius: 5px;
    height: 100%;
    transition: all 0.5s ease;
}

.about-image img:hover {
    transform: scale(1.02);
}

.about-text p {
    text-align: justify;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 0;
}

.cta input {
    background: #288481;
    border-radius: 5px;
    color: white !important;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-weight: 200;
    transition: all 0.5s ease;
}

.cta input:hover {
    background: #016b5e;
}

/*END OF ABOUT*/
/*====================================================================================*/

/*CHAMBER*/
.section-title h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.img-wrapper {
    overflow: hidden;
    background-position: center;
    height: 18rem;
    width: auto;
}

.img-wrapper .card-title {
    transition: all 0.5s ease;
}

.img-wrapper:hover .card-title {
    letter-spacing: 3.5px;
}

.chamber-1 {
    background: url('../img/chamber/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.chamber-2 {
    background: url('../img/chamber/3.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.chamber-3 {
    background: url('../img/chamber/2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.chamber-4 {
    background: url('../img/chamber/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.img-wrapper h5 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(1, 107, 94, 0.5);
    color: white;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.img-wrapper h5 span {
    font-weight: 700;
}

/*END OF CHAMBER*/
/*====================================================================================*/

/*FACILITIES*/
.single-card {
    padding: 1px;
}

.card {
    background: #f7f7f7;
    transition: all 0.5s ease;
}

.card-body {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.card-body img {
    align-self: center;
    transition: all 0.5s ease;
}

.card-body:hover img {
    transform: translateY(-5px);
}

.card:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background: white;
}

.card-text {
    letter-spacing: 2px;
}

.card-text .dotted {
    font-size: 40px;
    color: #288481;
}

/*END OF FACILITIES*/
/*====================================================================================*/

/*TRIPLE CAROUSEL*/
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: auto;
    height: 30vh;
    margin: 0 auto;
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*END OF TRIPEL CAROUSEL*/
/*================================================================*/

/*FOOTER*/
footer {
    background-image: linear-gradient(rgba(1, 107, 94, 0.85), rgba(1, 107, 94, 0.85) 100%), url('../img/genesis-building.jpg') !important;
    background-position: center;
    background-size: cover;
}

.logo-wrapper img {
    width: 150px;
}

.footer-text h3 {
    font-size: 18px;
    color: white;
    font-weight: 200;
    letter-spacing: 1.3px;
    line-height: 1.1;
    display: block;
}

.footer-text a h3 {
    padding-top: 18px;
}

.footer-text a h3:hover {
    text-decoration: underline;
}

.input-group input {
    border-radius: 60px;
    max-width: 30rem;
}

.input-group-append {
    background: #399583 !important;
    border-radius: 60px;
    position: absolute;
    border: none !important;
    left: 25rem;
}

.input-group-append button {
    transition: all 0.5s ease;
    overflow: hidden;
}

.input-group-append button:hover {
    background: #016b5e;
}

.footer-sos-med i {
    color: white !important;
    font-size: 30px;
    margin-left: 10px;
}

.footer-logo img {
    width: 220px;
}

.copyright h3 {
    font-size: 18px;
    color: white;
    font-weight: 200;
    letter-spacing: 1.3px;
    line-height: 1.1;
    display: block;
    text-align: right;
}

/*END OF FOOTER*/
/*====================================================================================*/